<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/signInTemplate">
<body>
    <div class="container" layout:fragment="content">

        <div th:if="${param.error}">
            Invalid User Name or Password
        </div>

        <form class="form-inline" th:action="@{/login}" method="post">

            <div class="form-group">
                <label for="exampleInputName2">Username</label>

                <input type="text" class="form-control" name="username" placeholder="JohnDoe23" required>


            </div>
            
            <br><br>

            <div class="form-group">

              <label for="exampleInputEmail2">Password</label>

              <input type="text" class="form-control" name="password" placeholder="Password23!">
              
            </div>
            <br>
            <button type="submit" class="btn btn-primary" value="Sign In">Submit</button>
        </form>

        <div>
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
