<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/starterTemplate"></html>
    <body>
        <div layout:fragment="content">
            <input action="#" th:action="@{doSignup}" th:object="${signupModel}" method="post" />
            <h2 align="center">Sign Up!</h2>
            <!-- Table with forms -->

            
            



        </div>
    </body>
</html>